.banner-about {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  img {
    width: 80%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
  }

  .filter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 425px) {
  .banner-about {
    img {
      width: 90%;
      border-radius: 10px;
    }

    .filter {
      width: 90%;
      border-radius: 10px;
    }
  }
}
