.house-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: $color1;
    
    img {
        width: 100%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
    }

    .infos {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        .place {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 100%;
        }
    
        .host {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
        }
    
        .host-name {
            position: inherit;
            right: 65px;
            top: -10px;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            margin-right: 10px;
            width: 55%;
            word-wrap: break-word;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: right;
        }
    
        .portrait {
            position: absolute;
            top: -5px;
            width: 64px;
            height: 64px;
            border-radius: 50px;
        }
    }

    .details {
        display: flex;
        justify-content: space-between;

        .tags {
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
        }
    }

    .collapse-housing {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .collapse-display {
            width: 47%;
        }
    }
}


@media (max-width: 425px) {
    .house-container {
        width: 90%;

        img {
            height: 255px;
        }

        .infos {
            width: 100%;
            flex-direction: column;
            margin-bottom: 0;

            .place {
                margin-bottom: 0;
            }
        }

        .collapse-housing {
            flex-direction: column;
            margin-top: 30px;

            .collapse-display {
                width: 100%;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            
            .rating {
                position: inherit;
                top: 250px;
            }
        }

        .host {
            position: inherit;
            top: 75px;
            width: 60%;
            align-self: flex-end;

            .host-name {
                width: 10%;
                right: 110px;
                top: 3px;
            }

            .portrait {
                top: -5px;
            }
        }
    }
}