// SPECIAL
@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

// VARIABLES
$font1 : "font-1", sans-serif;

$color1 : #FF6060;
$color2 : #FFF;

$bg-color1 : #FFF;
$bg-color2 : #F6F6F6;
$bg-color3 : #000000;

// GLOBAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

body {
    font-family: $font1;
    background-color: $bg-color1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}