.properties-container {
    width: 80%;
    background-color: $bg-color2;
    margin: 0 auto 35px auto;
    border-radius: 35px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}