.toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .top {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        background-color: $color1;
        border-radius: 10px;
        width: 100%;
        height: 52px;
        padding: 0 15px;
        color: $color2;

        button {
            border: none;
            background: none;
        }
        
        img {
            width: 24px;
            height: 13px;
            margin-top: 5px;
            cursor: pointer;
        }
    }

    .bottom {
        width: 100%;
        background-color: $bg-color2;
        color: $color1;
        border-radius: 5px 5px 10px 10px;
        overflow: hidden;
    }

    .active {
        padding: 25px 25px;
        opacity: 1;
        animation: fadeIn ease-in-out 0.5s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-5px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

}


@media (max-width: 425px) {
    .toggle {
        .top {
            height: 33px;

            h3 {
                font-size: 13px;
                line-height: 18px;
            }

            img {
                width: 16px;
                height: 9px;
            }
        }

        .bottom {
            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}